.restCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
background-image: url(https://i.pinimg.com/564x/62/25/d5/6225d5ac0c8065b96f224afd49a81b13.jpg);
background-size: cover;
background-position: center;
color: white;
}


.restCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
gap: 20px;
}

.restCard > li {
  background-color: #537774;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 20px;
  min-width: 420px;
  min-height: 230px;
  border-radius: 10px;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.restCard > li:hover {
  transform: scale(1.05);
}

.RestrBookCont {
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 181, 174);
  margin-top: 18px; /* Adjusted margin */
  margin-bottom: 20px; /* Added margin */
  border-radius: 20px;
  padding: 20px; /* Added padding */
}

.ShowRestCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newRestrCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 212, 219);
  width: 500px;
  min-height: 380px;
  border-radius: 10px;
  margin-top: 18px;
}
.ShowBookingCont {
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

input {
  width: 250px;
  height: 30px;
  font-size: 18px;
  display: block;
  border-radius: 8px;
}

label {
  font-size: 18px;
  display: flex;
  justify-content: start;
}

.resimage{
width: 420px;
  height: 100px;


}

.resimage img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
