/* restaurant details */


button {border: 0px;
border-radius: 5px;
}
    
#black{
    color: #000000;
}

.RestrBookCont {
    display: flex;
    flex-direction: raw;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #537774;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000;
    max-width: 800px;
    height: 100%;
    }
    .flex a {

        background-color: #ffffff;
        margin-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 4px;
        padding-left: 4px;
        color: #000000;
        border-radius: 5px;
    }
    .Restr {
        display: flex;
        flex-direction: raw;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #537774;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #000000;
        max-width: 800px;
        height: 100%;
        }
    .ShowRestCont {
        text-align: left;
        margin-bottom: 30px;
        color: #000000;
    
    }

    .ShowRestCont h1 {
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: bold;
    }

    .ShowRestCont p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .ShowBookingCont {
        text-align: center;
        margin-bottom: 30px;
      
    }





    .ShowBookingCont button {
        background-color: #ff6347;
        border: none;
        
        padding: 10px 20px;
        margin-right:100px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        width: 100%;
        margin-top: 20px;
    }

    .ShowBookingCont button:hover {
        background-color: #057e74;
        transform: scale(1.05);
    }

    .ShowRestCont li {
  background-color: #282828;
  border-radius: 8px;
  padding: 10px;
    margin: 5px 0;
    list-style-type: none;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    }

    .ShowRestCont .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
