.myBookingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-image: url(https://i.pinimg.com/736x/63/81/4c/63814c61cc641cfe599770ad0c92db53.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: rgb(227, 223, 223);
} 

.myBookingCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.myBookingCard > li {
  background-color: #537774;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 420px;
  height: 230px;
  border-radius: 10px;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for a fancy effect */
  transition: transform 0.2s; /* Smooth hover effect */
}

.myBookingCard > li:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.myBookingCard h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.myBookingCard p {
  font-size: 18px;
  margin-bottom: 5px;
}

.myBookingCard button {
  background-color: #057e74; /* Button color */
  border: none;
  color: rgb(235, 227, 227);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.myBookingCard button:hover {
  background-color: #d18569; /* Darker on hover */
}

.vhomeCont {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

#myVideoo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1; 
}

.starter h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
