.myrestCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  
  background-size: cover;
  background-position: center;
  color: white;
}

a:hover {
  text-decoration: none;
  color: inherit;
}


.myrestCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.myrestCard  li {
  background-color: #537774;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: 230px;
  border-radius: 10px;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.myrestCard  li:hover {
  transform: scale(1.05);
}

.myrestCard h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.myrestCard p {
  font-size: 18px;
  margin-bottom: 5px;
}

h1 {
  margin-top: 25px;
  margin-bottom: 18px;
  font-size: 36px;
  font-weight: bold;
}