.vCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
}

video {
  width: 1349px;
}

.videoCont {
  display: flex;
  justify-content: center;
  align-items: center;
}
