.welcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

video {
  width: 1348px;
}

.videoCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
